{% extends "layout.html.twig" %}

{% block title %}{{ billet.title }}{% endblock %}

{% block content %}
<p>
	<h2>{{ billet.title }}</h2>
	<p>{{ billet.content }}</p>
	<div class="container">
	<h3>Commentaires</h3>
	{% block comment %}

		<div class="row">			
		{% for comment in comments %}
		
			<div class="col-sm-12">
				<strong>{{ comment.author }}</strong> a dit: {{ comment.content }} <br>
				<div class="row">
				<div class="col-sm-2">	
					<button type ="button" class="btn btn-primary btn-xs" value="Repondre" data-toggle="collapse" data-target="#{{ comment.id }}">Repondre</button>
				</div>
				<div id="{{ comment.id }}" class="col-sm-9 collapse">
				{{ form_start(commentForm, { 'attr' : { 'class' :'form-horizontal'}}) }}
					<div class="row">
						<div class="form-group col-sm-4">				
							{{ form_errors(commentForm.author) }}
							{{ form_widget(commentForm.author, { 'attr' : {
							'rows': '4',
							'class': 'form-control',
							'placeholder': 'Entrez votre nom'
							}}) }}
						</div>
			
						<div class="form-group col-sm-10">
							{{ form_errors(commentForm.content) }}
							{{ form_widget(commentForm.content, { 'attr': {
							'rows': '4',
							'class': 'form-control',
							'placeholder': 'Entrez votre commentaire'
							}}) }}			
						</div>

						<div class="form-group">
							{{ form_errors(commentForm.parent) }}
							{{ form_widget(commentForm.parent, { 'value': comment.id , 'attr': {
							'class': 'form-control'							
							}}) }}			
						</div>

						<div class="form-group col-sm-12">
							<input type="submit" class="btn btn-primary btn-xs" value="Publier un commentaire"/>
						</div>
					</div>

				{{ form_end(commentForm) }}
				{% for flashMessage in app.session.flashbag.get('success') %}
			
					<div class="alert alert-success">
					{{ flashMessage }}
					</div>
<<<<<<< HEAD
					<div id="{{ comment.id }}" class="col-sm-9 collapse">
							
																	
					</div>		
=======

				{% endfor %}
				</div>		
>>>>>>> parent of da998ea... modif views billet, ajout attribut report pour class comment
				</div>

				<div class="row">
				{% for childComment in comment.children %}
					<div class="col-sm-offset-1 col-sm-10">						
						<strong>{{ childComment.author }}</strong> a repondu: {{ childComment.content }}<br>
						<div class="row">
						<div class="col-sm-2">	
							<button type ="button" class="btn btn-primary btn-xs" value="Repondre" data-toggle="collapse" data-target="#{{ childComment.id }}">Repondre</button>
						</div>
						<div id="{{ childComment.id }}" class="col-sm-9 collapse">
						{{ form_start(commentForm, { 'attr' : { 'class' : 'form-horizontal'}}) }}
							<div class="row">
								<div class="form-group col-sm-4">				
									{{ form_errors(commentForm.author) }}
									{{ form_widget(commentForm.author, { 'attr' : {
									'rows': '4',
									'class': 'form-control',
									'placeholder': 'Entrez votre nom'
									}}) }}
								</div>
					
								<div class="form-group col-sm-10">
									{{ form_errors(commentForm.content) }}
									{{ form_widget(commentForm.content, { 'attr': {
									'rows': '4',
									'class': 'form-control',
									'placeholder': 'Entrez votre commentaire'
									}}) }}			
								</div>

								<div class="form-group">
									{{ form_errors(commentForm.parent) }}
									{{ form_widget(commentForm.parent,{ 'value': childComment.id, 'attr': {
				
									'class': 'form-control'
									
									}}) }}			
								</div>

								<div class="form-group col-sm-10">
									<input type="submit" class="btn btn-primary btn-xs" value="Publier un commentaire"/>
								</div>
							</div>
<<<<<<< HEAD
							
						
							<div id="{{ comment.id }}" class="col-sm-9 collapse">
								
																	
										
=======

						{{ form_end(commentForm) }}
						{% for flashMessage in app.session.flashbag.get('success') %}
					
							<div class="alert alert-success">
							{{ flashMessage }}
>>>>>>> parent of da998ea... modif views billet, ajout attribut report pour class comment
							</div>

						{% endfor %}
						</div>
						</div>		
						<div class="row">	
						{% for subChildComment in childComment.children %}					
							<div class="col-sm-offset-1 col-sm-10">						
								<strong>{{ subChildComment.author }}</strong>	a repondu: {{ subChildComment.content }}<br>
							</div>		
						{% endfor %}					
						</div>
					</div>				
				{% endfor %}
				</div>		
			</div>	

		{% else %}
			Pas encore de commentaires.			
		{% endfor %}
		
		</div>
	
	{% endblock %}
	</div>
</p>
{% endblock %}
