{% extends "layout.html.twig" %}

{% block title %}{{ billet.title }}{% endblock %}

{% block content %}
<p>
	<h2>{{ billet.title }}</h2>
	<p>{{ billet.content | raw }}</p>
	<div class="container">
	<h3>Commentaires</h3>
	{% block comment %}

		<div class="row">			
		{% for comment in comments %}
		
			<div class="col-sm-12">
				<blockquote>{{ comment.content }}
					<footer><cite>{{ comment.author}}</cite></footer>
				</blockquote>
				<div class="row">
					<div class="col-sm-2">	
						<button type ="button" class="btn btn-primary btn-xs" value="Repondre" data-toggle="collapse" data-target="#{{ comment.id }}">Repondre</button>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-danger btn-xs" value="Signaler">Signaler</button>
					</div>
					<div id="{{ comment.id }}" class="col-sm-9 collapse">
							
																	
					</div>		
				</div>

				<div class="row">
				{% for comment in comment.children %}
					<div class="col-sm-offset-1 col-sm-10">		
						<blockquote>{{ comment.content }}
							<footer><cite>{{ comment.author }}</cite></footer>
						</blockquote>							
						<div class="row">
							<div class="col-sm-2">	
								<button type ="button" class="btn btn-primary btn-xs" value="Repondre" data-toggle="collapse" data-target="#{{ comment.id }}">Repondre</button>
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-danger btn-xs" value="Signaler">Signaler</button>
							</div>
							
						
							<div id="{{ comment.id }}" class="col-sm-9 collapse">
								
																	
										
							</div>
						</div>		
						<div class="row">	
						{% for comment in comment.children %}					
							<div class="col-sm-offset-1 col-sm-10">
								<blockquote>{{ comment.content }}
									<footer><cite>{{ comment.author }}</cite></footer>
								</blockquote>
							</div>		
						{% endfor %}					
						</div>
					</div>				
				{% endfor %}
				</div>		
			</div>	

		{% else %}
			Pas encore de commentaires.			
		{% endfor %}
		
		</div>
	
	{% endblock %}
	</div>
</p>
{% endblock %}
